# Azure DevOps Pipeline for Azure Functions Deployment Only
# Use this pipeline for deploying function app changes independently

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - pipeline/*
      - .azure-pipelines/function-app-pipeline.yml

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - pipeline/*

variables:
  pythonVersion: '3.11'
  functionAppName: '$(Build.Repository.Name)-function-app'
  resourceGroupName: '$(Build.Repository.Name)-rg'
  azureSubscription: 'YOUR_AZURE_SERVICE_CONNECTION'  # Update with your Azure DevOps service connection name
  environmentName: 'dev'  # Change to 'staging' or 'prod' as needed

stages:
  - stage: Build
    displayName: 'Build Function App'
    jobs:
      - job: Build
        displayName: 'Build and Package Functions'
        pool:
          vmImage: 'ubuntu-latest'
        
        steps:
          - task: UsePythonVersion@0
            displayName: 'Use Python $(pythonVersion)'
            inputs:
              versionSpec: '$(pythonVersion)'
              addToPath: true
          
          - script: |
              python -m pip install --upgrade pip
              python -m venv venv
              source venv/bin/activate
              pip install -r pipeline/requirements.txt
            displayName: 'Install Dependencies'
          
          - script: |
              source venv/bin/activate
              python -m pip install pylint pytest pytest-azurepipelines
              pylint pipeline/ --disable=C,R,W --output-format=text || true
            displayName: 'Code Quality Check'
            continueOnError: true
          
          - script: |
              source venv/bin/activate
              python -m pytest pipeline/ -v --junitxml=junit/test-results.xml || true
            displayName: 'Run Tests'
            continueOnError: true
          
          - task: ArchiveFiles@2
            displayName: 'Package Function App'
            inputs:
              rootFolderOrFile: '$(System.DefaultWorkingDirectory)/pipeline'
              includeRootFolder: false
              archiveType: 'zip'
              archiveFile: '$(Build.ArtifactStagingDirectory)/functionapp.zip'
              replaceExistingArchive: true
          
          - task: PublishBuildArtifacts@1
            displayName: 'Publish Artifacts'
            inputs:
              PathtoPublish: '$(Build.ArtifactStagingDirectory)'
              ArtifactName: 'functionapp'
  
  - stage: Deploy
    displayName: 'Deploy Function App'
    dependsOn: Build
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
    jobs:
      - deployment: Deploy
        displayName: 'Deploy to Azure'
        pool:
          vmImage: 'ubuntu-latest'
        environment: '$(environmentName)'
        strategy:
          runOnce:
            deploy:
              steps:
                - task: DownloadBuildArtifacts@0
                  displayName: 'Download Artifacts'
                  inputs:
                    buildType: 'current'
                    downloadType: 'specific'
                    downloadPath: '$(System.ArtifactsDirectory)'
                    itemPattern: 'functionapp/functionapp.zip'
                
                - task: AzureFunctionApp@1
                  displayName: 'Deploy Function App'
                  inputs:
                    azureSubscription: '$(azureSubscription)'
                    appType: 'functionApp'
                    appName: '$(functionAppName)'
                    package: '$(System.ArtifactsDirectory)/functionapp/functionapp.zip'
                    deploymentMethod: 'zipDeploy'
                
                - task: AzureCLI@2
                  displayName: 'Verify Deployment'
                  inputs:
                    azureSubscription: '$(azureSubscription)'
                    scriptType: 'bash'
                    scriptLocation: 'inlineScript'
                    inlineScript: |
                      az functionapp list-functions --name $(functionAppName) --resource-group $(resourceGroupName) --show-keys

